{% extends "layouts/base.html" %}
{% block content %}

<div class="container" style="background-image: url('https://cdn.corporatefinanceinstitute.com/assets/Industry.jpeg');color: rgb(253, 252, 252);">
    <br>
    <div style="color: blue;text-align: center;">
        <h1>
            Industrial Advancement System
        </h1>
          <hr>
          <p>
              An ultimate platform for Analysis of the Industry of Zimbabwe and Forecasting of the Industrial Activities.
            </p>
    </div>
        <hr>
    <h3>
        What is Industry
    </h3>
    
    <p>An industry – or sector – is the whole of all economic activities by companies, people, and organizations involved in the production of goods and services for a particular field. Industries are usually categorized by the goods and services they produce.
        <br>
        For example, the pizza industry is made up of all producers who produce and sell pizza in the market. It is important to note that for a pizza maker to belong to the pizza industry, he or she must sell the product they make in the market.
        <br>
        A person cooking pizza at home for his or her children would not fit under this description as they are not selling any products or services.
    </p>
    <hr>
    <h2>
        Industry Categores?
    </h2>
    <ol>
        <li>Core (Primary) Activities</li><br>
        <li>Secondary Activities</li><br>
        <li>Supportive Activities</li>
    </ol>
</div>
  

{% endblock %}


