<nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
  <div class="container">
    <a href="/">
      <img src="/static/assets/img/brand/blue.png" width="80px" height="60px" alt="Logo.">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="dashboard.html">
              <img src="/static/assets/img/brand/blue.png" width="80px" height="60px">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        </li>
      </ul>
      <hr class="d-lg-none" />
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="/about" target="_blank" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="ni ni-ungroup mr-2"></i>
            </span>
            <span class="nav-link-inner--text">About The System</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>