<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="Industrial Advancement" width="80px" height="120px">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'analysis' in segment %} active {% endif %}" href="/analysis">
              <i class="ni ni-align-left-2 text-orange"></i>
              <span class="nav-link-text">Analysis & Forecasting</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'primary_sector' in segment %} active {% endif %}" href="/primary_sector">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Analysis By Sector</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'forecasting' in segment %} active {% endif %}" href="/forecasting">
              <i class="ni ni-world-2 text-green"></i>
              <span class="nav-link-text">Forecasting By Sector</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'records' in segment %} active {% endif %}" href="/records">
              <i class="ni ni-money-coins text-default"></i>
              <span class="nav-link-text">Database Management</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'model_samples' in segment %} active {% endif %}" href="/model_samples">
              <i class="ni ni-money-coins text-default"></i>
              <span class="nav-link-text">Model Sample</span>
            </a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Profile</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('base_blueprint.logout') }}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>

        </ul>
        <!-- Divider -->
        <hr class="my-3">
      </div>
    </div>
  </div>
</nav>